main {
  display: flex;
  justify-content: center;
}

.starship-details {
  display: flex;
  flex-direction: column;
  border: 5px solid maroon;
  padding: 10px;
  border-radius: 15px;
  background-color: #FFE81F;
  color: black;
}
.starship-details a {
  text-decoration: underline;
  text-decoration-color: maroon;
  text-decoration-thickness: 3px;
  text-underline-offset: 2px;
}